body{
    
    background-color: rgb(247, 80, 80);
}

img{
    width: 250px;
}



h1{
    font-size: 40px;
}

section{
    opacity: 0.9;
    background: white;
    text-align: center;
    margin: 40px auto;
    border-radius: 10px;
    width: 50%;
    padding: 30px;
}

p{
font-size: 25px;
}

#txtNombre{
    margin: 30px;
}